# Configuration Files

config.json
pluginOrder.json

plugins/links/links.json

plugins/members/rules.md
plugins/members/welcome.md

*.bat



files/*.json
files/*.md
^ To ignore while there's still the refactoring.
